<html>

	<head>
		<title>your title here</title>
	</head>

	<body bgcolor="CFCFCF">
		<a href="https://lwn.net/">link name</a>
		is a link to another nifty site
		
		<h1>This is a Title</h1>

		[[ AfterTitleArea ]]

		<h2>Embed content where you wish</h2>

		<table>
			<thead>
				<th>Regular HTML</th><th>HTML from Article</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<b>Writing and testing</b>
					</td>
					<td>
						[[ TableArea ]]
					</td>
				</tr>
			</tbody>
		</table>

		send me mail at <a href="mailto:support@yourcompany.com">
		support@yourcompany.com</a>.

		<p> this is a new paragraph!</p>
		<p> <b>this is a new paragraph!</b></p>
		<br> 
		<b><i>this is a new sentence without a paragraph break, in bold italics.</i></b>

		[[ EndPageArea ]]

	</body>

</html> 