{% extends "manager/base_page.html" %}

{% block header %}

<style type="text/css">
	h1 {
		text-align: center;
	}
</style>

{% endblock %}

{% block body %}
	
	<h1>{{article.title}}</h1>

	{% for area in article.content_areas.all %}

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="panel_title"><a href="#" data-toggle="collapse" data-target="#content_area_{{area.id}}">{{area.area.name}}</a><span>
		</div>
		
		<div id="content_area_{{area.id}}" class="panel-body collapse">
			{{area.content}}
		</div>
	</div>

	{% endfor %}

{% endblock %}

{% block script %}
{% endblock %}