{% extends "manager/base_page.html" %}

{% block header %}
{{ block.super }}

<style type="text/css">
	#articles_area {
		text-align: center;
		margin-top: 2%;
	}

	#article_list a {
		font-size: 125%;
	}
</style>

{% endblock %}

{% block body %}

{{ block.super }}

	<div id="articles_area">
		<h2>Articles</h2>

		<div id="article_list"></div>
	</div>

{% endblock %}

{% block script %}

{{block.super}}
<script src="/static/manager/js/article_list.js"></script>
<script type="text/javascript">
	article_list = new ArticleList($("#article_list"));
	article_list.update();
</script>
{% endblock %}