{% extends "manager/base_page.html" %}

{% block header %}

<style type="text/css">
	#articles_area {
		text-align: center;
	}

	#article_list a {
		font-size: 125%;
	}
</style>

{% endblock %}

{% block body %}

	<div id="articles_area">
		<div id="article_list"></div>
	</div>

{% endblock %}

{% block script %}

<script src="/static/manager/js/article_list.js"></script>
<script type="text/javascript">
	article_list = new ArticleList($("#article_list"));
	article_list.update();
</script>
{% endblock %}