<html>

	<head>
		<title>your title here</title>
	</head>

	<body bgcolor="CFCFCF">
		<a href="https://lwn.net/">link name</a>
		is a link to another nifty site
		
		<h1>this is a header</h1>

		<h2>this is a medium header</h2>

		send me mail at <a href="mailto:support@yourcompany.com">
		support@yourcompany.com</a>.

		<p> this is a new paragraph!</p>
		<p> <b>this is a new paragraph!</b></p>
		<br> 
		<b><i>this is a new sentence without a paragraph break, in bold italics.</i></b>

	</body>

</html> 